<div class="row">
  <div class="container">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3  movie-list-card ">
      <% @collections.each do |collection| %>
      <ul class ="movie-list">


          <li>
            <div class="movie-name">
              <% film = collection.movie.title + ' (' + collection.movie.year.to_s + ")" %>
              <%= link_to film, collection_path(collection) %>
            </div>
            <div class="movie-actions">
              <span><%= link_to 'Remove', collection_path(collection), method: :delete%> / <%= link_to 'Share'%> </span>
            </div>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

</div>
