    <div class="col-xs-12 col-sm-8 results-content-bg">
    <%= simple_form_for [@collection, @review] do |f| %>
      <%= f.input :my_rating, as: :float, class: "form-control", placeholder: '0.0 - 5.0', label: false %>
      <%= f.input :phrase, as: :string, class: "form-control", placeholder: 'best cinematography of 2017', label: false %>
      <%= f.submit "publish review", class: "btn btn-primary add-to-col"%>
    <% end %>
    </div>

