<% @collections.each do |collection| %>
  <ul class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 movie-profiles-list-minimal">
    <li>
      <div class="movie-avatar">

      </div>
      <p class="movie-name">
        <% film = collection.movie.title + ' (' + collection.movie.year.to_s + ")" %>
        <p><%= link_to film, collection_path(collection) %></p>
        <span>

        </span>
      </p>
    </li>
  </ul>
<%end%>





