/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


#bg-landing {
  background-image: url("bg-landing.jpg"), linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 30%);
  background-repeat: no-repeat;
  background-size: cover;
  // height: 1024px;
}

.white{
  color: white
}
