<h1>User list</h1>
<div id="users">
  <%@users.each do |user| %>
  <%unless user == current_user%>
  <div class="user">
    <p>
      <strong><%=user.username %></strong>
      <%=link_to "Add Friend", friendships_path(friend_id: :user), method: :post %>
      <div class="clear"></div>
    </p>
  </div>
  <% end %>
  <% end %>
</div>
