<div class="footer-wrapper">
  <div class="footer-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class='footer-box'>
          <div class="footer-left text-center">
            <p> <%=link_to "About", about_path %> &#169; 2016 Mustachio Inc. Made with &#9829; in Barcelona by Margot &#38; Matthew</p>
          </div>

          <div class="footer-right">

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
