
<h4>My friends</h4>
<%# current_user.friendships.each do |friendship| %>
<%#= p friendship %>
<%#= friendship.user_id %>
<%#= friendship.friend_id %>
<%#= link_to "Unfriend", friendship_path(friendship), method: :delete %>
<%# end %>
<% current_user.friends.each do |friend|%>
  <ul class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 friend-profiles-list-minimal">
    <li>
      <div class="friend-avatar">
        <% avatar_url = friend.facebook_picture_url || friend.photo %>
        <%= image_tag avatar_url , class: "avatar"%>
      </div>
      <p class="friend-name">
        <% name = friend.username%>
        <%= link_to name, friendship_path(friend) %>
        <span>
          <%=pluralize(friend.collections.size, 'Movie')%>
          <%=pluralize(friend.tags.size, 'Tag')%>
        </span>
      </p>
    </li>
  </ul>
<%end%>
