<div id="bg-landing">

  <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag 'mustachio-logo.png', class: 'main-logo' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <% if user_signed_in? %>
            <div><%=link_to "welcome", collections_path, class: 'btn btn-signin'%></div>
            <div id='landing'>
              <%= link_to 'sign out', destroy_user_session_path, method: :delete%>
            </div>
          <%else%>
            <div>
              <%=link_to "sign in", new_user_session_path, class: 'btn btn-signin'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
