// Your footer style
#footer {
  color: white;
  // padding: 10px 0px; This was outside the footer-wrapper
  margin: auto;
}

.footer-wrapper {
  background-color: #383838;
  // margin: 50px 0 0 0; DONT NEED THIS!
  // position: relative; DONT NEED THIS!
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer-left {
  text-align: left;
  position: absolute;
}

.footer-right {
  text-align: right;
  position: relative;
}

#footer p {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

#footer p:hover {
  text-decoration: none;
  color: #eee;
}

#footer a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

#footer a:hover {
  text-decoration: none;
  color: #eee;
}

