/* Searchbar search form */
// .searchbar-mustachio {
//   flex: 0 1 300px;
//   display: flex;
//   justify-content: flex-end;
//   padding: 0 10px;
//   position: relative;
// }
// .searchbar-mustachio-btn {
//   line-height: 40px;
//   color: #E6E6E6;
//   border: none;
//   background: transparent;
//   position: absolute;
//   right: 14px;
//   top: -2px;
//   z-index: 1;
// }
.searchbar-mustachio {
  flex: display;
  justify-content: flex-end;
  width: 40vw;
  transition: all 0.15s ease;
  font-weight: lighter;
  color: #383838;
  border: 1px solid #85EBBC;
  border-radius: 50px;
  outline: none;

}

.searchbar-mustachio-input {
  flex: 0 1 40vw;
  font-weight: lighter;
  color: #383838;
  border: none;
}
