<div class="text-center" style='padding-top:80px;'>
    <h2 class="text-center">Make your new list</h2>
    <%= simple_form_for(@tag, :html => {:class => ''})do |f| %>
    <div class=''>
      <%= f.text_field :name, label: false, placeholder: '#list_name', class: 'tag-input' %></br>
      <%= f.association :movies, as: :check_boxes, label_method: :title, collection: current_user.movies %>
      <%= image_submit_tag("logo-white.png", class: 'image-responsive avatar tags-logo') %>
    </div>
    <% end %>
</div>


