/* shape: */
.btn{
  background: #85EBBC;
  border: 3px solid #85EBBC;
  padding: 10px 25px ;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #383838;
}


.btn:hover {
  text-decoration: none;
  color: white;
}

// .btn-signin{
//   height: 100%;
//   padding: 10px 15;

// }

