.form-group-tiny{
  width: 15%;
}

.btn-form{
  background: #85EBBC;
  border: 3px solid #85EBBC;
  padding: 10px 25px ;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #383838;
}


.btn-form:hover {
  text-decoration: none;
  color: white;
}
