.friend-profiles-list-minimal{
    list-style:none;
    text-align: left;
    margin: 0 auto;
    // max-width: 750px;
    padding: 0;
    border: 1px solid #85EBBC;
    border-radius: 50px;
}

.friend-profiles-list-minimal li{
    display: inline-block;
    box-sizing:border-box;
    text-align:left;
    font:normal 16px sans-serif;
    padding: 15px;
    width: 100%;

    // min-width:200px;
}

.friend-profiles-list-minimal .friend-avatar{
    float: left;
    padding-right: 10px;
}

.friend-profiles-list-minimal .friend-avatar img{
    border-radius: 50%;
    border:0;
}

.friend-profiles-list-minimal .friend-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 5px 0 0;
    // max-width: 160px;
}

.friend-profiles-list-minimal .friend-name a, .friend-profiles-list-minimal .friend-name p{
  color:#383838;
  text-decoration: none;
  // font-weight: bold;
}

.friend-profiles-list-minimal .friend-name span{
    display: block;
    font-size: 11px;
    color: #85EBBC;
    padding-top:10px;
    font-weight: normal;
    float: right;
    font-size: 14px;
}

.friend-title {
  flex: display;
  justify-content: flex-end;
  width: 40vw;
  transition: all 0.15s ease;
  // font-weight: lighter;
  // color: #383838;
  // border: 1px solid #85EBBC;
  // border-radius: 50px;
  outline: none;
}

.friend-name {
  flex: 0 1 40vw;
  font-weight: lighter;
  // color: #85EBBC;
  border: none;
  font-size: 24px;
  // border-bottom: 1px solid #85EBBC;
  // padding-bottom: 5px;
}

.friend-name-profile {
  flex: 0 1 40vw;
  font-weight: lighter;
  color: #85EBBC;
  border: none;
  font-size: 24px;
  border-bottom: 1px solid #85EBBC;
  padding-bottom: 5px;
}



.friend-card {
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  padding: 20px;
  border-radius: 60px;
  background: white;
  color: black;
  text-decoration: none;
  &:hover {
    background: #E6E6E6;
    text-decoration: none;
    color: black;
  }
  h3 {
    margin: 0;
    padding-left: 10px;
    flex: 1 auto;
    font-size: 20px;
  }
}
