.movie-list-card{
  // background-color: #383838;
  // border: 1px solid #383838;
  margin-top: 20px;
  box-shadow: 10px 10px 33px -12px rgba(56,56,56,1);
}

.movie-list{
    list-style:none;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    // max-width: 750px;
    padding: 0;
    border-top: 5px red;
}

.movie-list li{
    display: inline-block;
    box-sizing:border-box;
    text-align:left;
    font:normal 14px sans-serif;
    padding: 10px;


    // min-width:200px;
}

// .movie-list .movie-avatar{
//     float: left;
//     padding-right: 10px;
// }

// .movie-list .movie-avatar img{
//     border-radius: 0%;
//     border:0;
// }

.movie-list .movie-name{
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    // margin: 5px 0 0;
    // max-width: 160px;
}

.movie-list .movie-name a{
  color:#383838;
  text-decoration: none;
  font-weight: bold;
}

.movie-list .movie-actions{
  float: right;
  padding-left: 10px;
}

.movie-list .movie-actions a{
    color:#383838;
    text-decoration: none;
    font-weight: bold;
}

.movie-list .movie-actions span{
    display: block;
    font-size: 11px;
    color: #85EBBC;
    padding-top:4px;
    font-weight: normal;
}


.movies-container {
  max-width: 750px;
  background: white;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.movies {
  padding: 30px 10px;
}

.no-movie {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
  color: #c3c3c3;
}

.search-section {
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
}

form.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  .form-group {
    margin: 0 10px;
  }
}
.chosen-container-single .chosen-single {
  height: 50px !important;
  line-height: 50px !important;
}
.chosen-drop .chosen-results {
    max-height: 100px !important;
}

.chzn-container .chzn-results {
  height: 50px !important;
}
.chosen-container-single .chosen-single div {
  height: initial;
}
